# PulseQ Analytics - Environment Variables

# Ingest API
INGEST_API_PORT=8001
LOG_LEVEL=INFO

# Processor
PROCESSOR_PORT=8002

# Dashboard BFF
DASHBOARD_BFF_PORT=8003
INGEST_API_URL=http://localhost:8001
PROCESSOR_URL=http://localhost:8002
